<div class="filters" id="filters">
    <div class="row row-cols-lg-4 mt-1 mb-1 row-cols-4">
        <div class="filter">
            <form action="/listings/low" method="get">
                <div>
                    <i class="fa-solid fa-indian-rupee-sign"></i>
                </div>
                <button>Low price</button>
            </form>
        </div>
        <div class="filter">
            <form action="/listings/high" method="get">
                <div>
                    <i class="fa-solid fa-arrow-trend-up"></i>
                </div>
                <button>High price</button>
            </form>
        </div>
        <div class="filter">
            <form action="/listings/aboutUs" method="get">
                <div>
                    <i class="fa-solid fa-users"></i>
                </div>
                <button type="submit">about us</button>
            </form>
        </div>
        <div class="filter">
            <form action="/listings/contactus" method="get">
            <div>
                <i class="fa-solid fa-square-phone"></i>
            </div>
            <button>Contect us</button>
            </form>
        </div>
    </div>
    <hr class="mb-2">
</div>

<!-- <div class="form-check-reverse form-switch taxCal">
    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
    <label class="form-check-label togglebtn" for="switchCheckDefault">Display total after
        taxes</label>
</div> -->