<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/profile.php?id=100091549473818" target="_blank" style="color: #222222;">
            <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a style="color: #222222;" href="https://www.instagram.com/_mr_perfect__08" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/abhishek-chire-243b32370?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" style="color: #222222;">
            <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Privat Limited</div>
        <div class="f-info-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            </form>
        </div>
    </div>
</footer>