<% layout("/layouts/boilerplate") %>
<%- include("../includes/filters.ejs") %>

    <div class="container py-5">

    <!-- Heading -->
    <h2 class="text-center fw-bold mb-5">
        Contact Us
    </h2>

    <div class="row align-items-center g-4">

        <!-- Contact Info -->
        <div class="col-lg-6 col-md-12">

            <div class="card rounded-4 p-4 h-100">

                <h5 class="fw-bold mb-4">Get in Touch</h5>

                <ul class="list-unstyled contact-list">

                    <li>
                        <i class="fa-solid fa-circle-user"></i>
                        <span>Abhishek Chire</span>
                    </li>

                    <li>
                        <i class="fa-solid fa-phone"></i>
                        <span>+91 1234567890</span>
                    </li>

                    <li>
                        <i class="fa-regular fa-envelope"></i>
                        <span>contact@yourcompany.com</span>
                    </li>

                    <li>
                        <a href="https://github.com/abhishekchire" target="_blank">
                            <i class="fa-brands fa-github"></i>
                            <span>GitHub</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100091549473818" target="_blank">
                            <i class="fa-brands fa-square-facebook"></i>
                            <span>Facebook</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/_mr_perfect__08" target="_blank">
                            <i class="fa-brands fa-square-instagram"></i>
                            <span>Instagram</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/abhishek-chire-243b32370" target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                            <span>LinkedIn</span>
                        </a>
                    </li>

                </ul>

            </div>
        </div>

        <!-- Image -->
        <div class="col-lg-6 col-md-12 text-center">
            <img src="/images/contact-us-.png" 
                 class="img-fluid contact-img"
                 alt="Contact Image">
        </div>

    </div>
</div>