<% layout("/layouts/boilerplate") %>

    <div class="container">
        <h1 class="mt-2 p-2 hedding">Contect us</h1>
        <div class="row p-1 mclass">
            <div class="col-lg-6 col-sm-12 col-md-12 mt-2">
                <div class="contactInfo">
                        <div class="socialmedia">
                            <ul>
                                 <li>
                                    <a>
                                        <i class="fa-solid fa-circle-user"></i>
                                        &nbsp; Abhishek chire
                                    </a>
                                </li>

                                <li>
                                    <a>
                                        <i class="fa-solid fa-phone"></i>
                                        &nbsp;+91 1234567890
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <i class="fa-regular fa-envelope"></i>
                                        &nbsp;  contact@yourcompany.com
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/abhishekchire">
                                        <i class="fa-brands fa-github"></i>
                                        &nbsp; GitHub
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/profile.php?id=100091549473818" target="_blank"
                                        style="color: #222222;">
                                        <i class="fa-brands fa-square-facebook"></i>
                                        &nbsp; Facebook
                                    </a>
                                </li>
                                <li>
                                    <a style="color: #222222;" href="https://www.instagram.com/_mr_perfect__08"
                                        target="_blank"><i class="fa-brands fa-square-instagram"></i>
                                        &nbsp;
                                        Instagram
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.linkedin.com/in/abhishek-chire-243b32370?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                        target="_blank" style="color: #222222;">
                                        <i class="fa-brands fa-linkedin"></i>
                                        &nbsp;
                                        LinkedIn
                                    </a>
                                </li>
                            
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mt-2">
                <img class="contactImg" src="/images/contact-us-.png">
            </div>
        </div>
    </div>